
Quartus_proj_2/db*/
Quartus_proj_2/db*

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.qmsg
Quartus_proj_2/simulation/*
Quartus_proj/simulation/*
Quartus_proj_2/db/*
Quartus_proj_2/db/*
Quartus_proj/db/*
Quartus_proj/incremental_db/compiled_partitions/SW_Count_Coder.root_partition.map.kpt
Quartus_proj/incremental_db/README
Quartus_proj_2/incremental_db/compiled_partitions/Rad_Base.root_partition.map.kpt
Quartus_proj_2/incremental_db/README
*.qws
Quartus_proj_2/Rad_Base.asm.rpt
Quartus_proj_2/Rad_Base.done
Quartus_proj_2/Rad_Base.eda.rpt
Quartus_proj_2/Rad_Base.fit.rpt
Quartus_proj_2/Rad_Base.fit.summary
Quartus_proj_2/Rad_Base.flow.rpt
Quartus_proj_2/Rad_Base.map.rpt
Quartus_proj_2/Rad_Base.map.summary
Quartus_proj_2/Rad_Base.pin
Quartus_proj_2/Rad_Base.pof
Quartus_proj_2/Rad_Base.sof
Quartus_proj_2/Rad_Base.tan.rpt
Quartus_proj_2/Rad_Base.tan.summary
