/Quartus_proj/db/*
/Quartus_proj/db/*
/Quartus_proj/db/prev_cmp_SW_Count_Coder.asm.qmsg
/Quartus_proj/db/prev_cmp_SW_Count_Coder.eda.qmsg
/Quartus_proj/db/prev_cmp_SW_Count_Coder.fit.qmsg
/Quartus_proj/db/prev_cmp_SW_Count_Coder.map.qmsg
/Quartus_proj/db/prev_cmp_SW_Count_Coder.tan.qmsg
/Quartus_proj/db/SW_Count_Coder.(0).cnf.cdb
/Quartus_proj/db/SW_Count_Coder.(0).cnf.hdb
/Quartus_proj/db/SW_Count_Coder.(2).cnf.cdb
/Quartus_proj/db/SW_Count_Coder.(2).cnf.hdb
/Quartus_proj/db/SW_Count_Coder.(3).cnf.cdb
/Quartus_proj/db/SW_Count_Coder.(3).cnf.hdb
/Quartus_proj/db/SW_Count_Coder.(4).cnf.cdb
/Quartus_proj/db/SW_Count_Coder.(4).cnf.hdb
/Quartus_proj/db/SW_Count_Coder.asm.qmsg
/Quartus_proj/db/SW_Count_Coder.cmp.cdb
/Quartus_proj/db/SW_Count_Coder.cmp.hdb
/Quartus_proj/db/SW_Count_Coder.cmp.rdb
/Quartus_proj/db/SW_Count_Coder.cmp.tdb
/Quartus_proj/db/SW_Count_Coder.cmp0.ddb
/Quartus_proj/db/SW_Count_Coder.eda.qmsg
/Quartus_proj/db/SW_Count_Coder.fit.qmsg
/Quartus_proj/db/SW_Count_Coder.hier_info
/Quartus_proj/db/SW_Count_Coder.hif
/Quartus_proj/db/SW_Count_Coder.lpc.html
/Quartus_proj/db/SW_Count_Coder.lpc.rdb
/Quartus_proj/db/SW_Count_Coder.lpc.txt
/Quartus_proj/db/SW_Count_Coder.map.cdb
/Quartus_proj/db/SW_Count_Coder.map.hdb
/Quartus_proj/db/SW_Count_Coder.map.qmsg
/Quartus_proj/db/SW_Count_Coder.pre_map.cdb
/Quartus_proj/db/SW_Count_Coder.pre_map.hdb
/Quartus_proj/db/SW_Count_Coder.rtlv.hdb
/Quartus_proj/db/SW_Count_Coder.rtlv_sg.cdb
/Quartus_proj/db/SW_Count_Coder.rtlv_sg_swap.cdb
/Quartus_proj/db/SW_Count_Coder.sgdiff.cdb
/Quartus_proj/db/SW_Count_Coder.sgdiff.hdb
/Quartus_proj/db/SW_Count_Coder.tan.qmsg
